<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Smart Shop</title>
</head>
<body>
    <header class="encabezado">
        <nav class="logo_barra_manu_carrito">
            
            <div class="logo">
                <img  src="./images/logoSmart.jpg" >
            </div>
            <div class="barra_busqueda">
                <input type="search" value="Que estas buscando?">
            </div>
            <div class="hamburguesa">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>


        </nav>

        <nav class="iniciar_crear_sesion">

            <div class="iniciar_sesion">

            </div>
            <div class="crear_cuenta">

            </div>

        </nav>


    </header>
    
</body>
</html>