<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    
    <%- include('./partials/header') %>


    <main>

        <section class="banner_bluedays">

            <img src="./images/banner samsung.jpg">
        </section>

        <section class="cuatro">

            <div class="envio">
                <div class="encabezado_envio">
                    <div class="icono1">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detalle1">
                        <p>Envio y retiro gratis</p>
                    </div>
                </div>

                <div class="pie_envio">
                    <p>ver mas</p>
                </div>
            </div>

            <div class="cuotas">
                <div class="encabezado_cuotas">
                    <div class="icono2">
                        <i class="fas fa-file-contract"></i>
                   </div>
                  <div class="detalle2">
                    <p>Garantia de fabrica</p>
                  </div>
                  </div>
                  <div class="pie_cuotas">
                    <p>ver mas</p>
                    </div>
                
            </div>
           

            <div class="garantia">
                <div class="encabezado_garantia">
                 <div class="icono3">
                    <i class="far fa-credit-card"></i>
                  </div>
                  <div class="detalle3">
                    <p>Cuotas sin interes</p>
                 </div>
                </div>
                <div class="pie_garantia">
                    <p>ver mas</p>
                </div>
            </div>

            <div class="celulares">
                <div class="encabezado_celulares">
                <div class="icono4">
                    <i class="fas fa-clipboard-check"></i>
                </div>
                <div class="detalle4">
                    <p>Celulares liberados</p>
               </div>
            </div>
            <div class="pie_celulares">
                <p>ver mas</p>
            </div>
            </div>


        </section>

        <section class="descuento">
            <img src="./images/descuento.jpg">

        </section>

        <section class="destacados">

            <p> DESTACADOS</p>
        </section>

        <section class="celulares_destacados">

                <div class="celu1">
                        <div class="foto_celu1">
                            <img src="./images/moto g9plus.jpg">
                        </div>

                        <div class="detalle_celu">
                            <p>Detalle</p>
                        </div>


                </div>
                <div class="celu2">
                    <div class="foto_celu2">
                        <img src="./images/moto g30.jpg">
                    </div>

                    <div class="detalle_celu"> 
                        <p>Detalle</p>
                    </div>

                </div>
                <div class="celu3">
                    <div class="foto_celu3">
                        <img src="./images/samsung a21s.jpg">
                    </div>

                    <div class="detalle_celu">
                        <p>Detalle</p>
                    </div>

                </div>
                <div class="celu4">
                    <div class="foto_celu4">
                        <img src="./images/samsung a51.jpg">
                    </div>

                    <div class="detalle_celu">
                        <a href="/product/productDetail"><p>Detalle</p></a>
                    </div>

                </div>







        </section>



    </main>


    <%- include('./partials/footer') %>

    
</body>
</html>