<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Smart Shop</title>
</head>
<body>
    <header class="encabezado">
        <nav class="logo_barra_manu_carrito">
            
            <div class="logo">
                <img  src="./images/logoSmart.jpg" >
            </div>
            <div class="barra_busqueda">
                <input type="search" value="Que estas buscando?"><i class="fas fa-search"></i>
                
            </div>
            <div class="hamburguesa">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>


        </nav>

        <nav class="iniciar_crear_sesion">

            <div class="iniciar_sesion">
                <a href="/login"><p> Iniciar Sesión</p></a>
            </div>
            <div class="crear_cuenta">
                <a href="/register"><p>Crear cuenta</p></a>
            </div>

        </nav>


    </header>

    <main>

        <section class="banner_bluedays">

            <img src="./images/banner samsung.jpg">
        </section>

        <section class="cuatro">

            <div class="envio">
                <div class="encabezado_envio">
                    <div class="icono1">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detalle1">
                        <p>Envio y retiro gratis</p>
                    </div>
                </div>

                <div class="pie_envio">
                    <p>ver mas</p>
                </div>
            </div>

            <div class="cuotas">
                <div class="encabezado_cuotas">
                    <div class="icono2">
                        <i class="fas fa-file-contract"></i>
                   </div>
                  <div class="detalle2">
                    <p>Garantia de fabrica</p>
                  </div>
                  </div>
                  <div class="pie_cuotas">
                    <p>ver mas</p>
                    </div>
                
            </div>
           

            <div class="garantia">
                <div class="encabezado_garantia">
                 <div class="icono3">
                    <i class="far fa-credit-card"></i>
                  </div>
                  <div class="detalle3">
                    <p>Cuotas sin interes</p>
                 </div>
                </div>
                <div class="pie_garantia">
                    <p>ver mas</p>
                </div>
            </div>

            <div class="celulares">
                <div class="encabezado_celulares">
                <div class="icono4">
                    <i class="fas fa-clipboard-check"></i>
                </div>
                <div class="detalle4">
                    <p>Celulares liberados</p>
               </div>
            </div>
            <div class="pie_celulares">
                <p>ver mas</p>
            </div>
            </div>


        </section>

        <section class="descuento">
            <img src="./images/descuento.jpg">

        </section>

        <section class="destacados">

            <p> Destacados</p>
        </section>

        <section class="celulares_destacados">

                <div class="celu1">
                        <div class="foto_celu1">
                            <img src="./images/moto g9plus.jpg">
                        </div>

                        <div class="detalle_celu">
                            <p>Detalle</p>
                        </div>


                </div>
                <div class="celu2">
                    <div class="foto_celu2">
                        <img src="./images/moto g30.jpg">
                    </div>

                    <div class="detalle_celu"> 
                        <p>Detalle</p>
                    </div>

                </div>
                <div class="celu3">
                    <div class="foto_celu3">
                        <img src="./images/samsung a21s.jpg">
                    </div>

                    <div class="detalle_celu">
                        <p>Detalle</p>
                    </div>

                </div>
                <div class="celu4">
                    <div class="foto_celu4">
                        <img src="./images/samsung a51.jpg">
                    </div>

                    <div class="detalle_celu">
                        <p>Detalle</p>
                    </div>

                </div>







        </section>



    </main>


    <footer class="footer">
        <div class="logo">
            <img src="/images/logoSmart.jpg" alt="Logo SmartShop">
        </div>

        <section  class="sobre-nosotros">
            <h3 class="titulos">SOBRE NOSOTROS</h3>
            <ul>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">LINEA ÉTICA Y VALORES</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDAD</a></li>
            </ul>
        </section>

        <section class="tienda-smartshop">
            <h3 class="titulos">TIENDA SMARTSHOP</h3>
            <ul>
                <li><a href="#">MIS PEDIDOS</a></li>
                <li><a href="#">MI CARRITO</a></li>
                <li><a href="#">CAMBIOS Y DEVOLUCIONES</a></li>
            </ul>
        </section>

        <section class="navegacion">
            <h3 class="titulos">NAVEGACIÓN</h3>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </section>

        <div class="bot-copyright">
            <div class="espacio-blanco"></div>

            <div class="copyright">
                <i class="far fa-copyright fa-3x"></i>
                <p>Copyright SmartShop - 2021. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>