<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/productDetail.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Smart Shop</title>
</head>
<body>
    <!-- COMIENZO DE HEADER -->
    <header class="encabezado">
        <nav class="logo_barra_manu_carrito">
            
            <div class="logo">
                <a href="/"><img  src="./images/logoSmart.jpg"></a>
            </div>
            <div class="barra_busqueda">
                <input type="search" value="Que estas buscando?"><i class="fas fa-search"></i>
                
            </div>
            <div class="hamburguesa">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>


        </nav>

        <nav class="iniciar_crear_sesion">

            <div class="iniciar_sesion">
                <a href="/login"><p> Iniciar Sesión</p></a>
            </div>
            <div class="crear_cuenta">
                <a href="/register"><p>Crear cuenta</p></a>
            </div>

        </nav>


    </header>
    <!--  FIN DE HEADER -->

    <!-- CONTENIDO DETALLE PRODUCTO -->
        <section class="product-img-box">
            <div class="imgchicas-celu-elegido-junto">
                <div class="mas-vistas">
                    <ul class="imagenes-chicas">
                        <li><a href="#"><img src="/images/chiquita a51.jpg" alt=""></a></li>
                        <li><a href="#"><img src="/images/chiquita2 a51.jpg" alt=""></a></li>
                    </ul>
                </div>
                <div class="celu-elegido">
                    <img src="/images/samsung a51.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="product-detail">
            <div class="nombre-celu">
                <img src="/images/samsung a51 nombre.jpg" alt="" width="90%">
            </div>
            <div class="precio">
                <img src="/images/a51 precio.jpg" alt="" width="70%">
            </div>
            <div class="detalle-celu">
                <img src="/images/detalle a51.jpg" alt="" width="100%">
            </div>
        </section>
            <div class="botones1">
                <a href="#"><button type="submit" class="button-form">Comprar</button></a>
                <a href="#"><button type="submit" class="button-form">Agregar al carrito</button></a>
            </div>
            <div class="botones2">
                <a href="#"><button type="submit" class="button-form2">Preguntas frecuentes</button></a>
                <a href="#"><button type="submit" class="button-form2">Comentarios</button></a>
                <a href="#"><button type="submit" class="button-form3">Medios de pago</button></a>
            <div class="botones3">
                <a href="#"><button type="submit" class="button-form4">Comprar</button></a>
            </div>        
    <div class="banner-bajo">
        <img src="/images/banner enterate.jpg">
    </div>
    <!-- FIN CONTENIDO DETALLE PRODUCTO -->
    
    <!-- COMIENZO DE FOOTER -->
    <footer class="footer">
        <div class="logo">
            <img src="/images/logoSmart.jpg" alt="Logo SmartShop">
        </div>

        <section  class="sobre-nosotros">
            <h3 class="titulos">SOBRE NOSOTROS</h3>
            <ul>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">LINEA ÉTICA Y VALORES</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDAD</a></li>
            </ul>
        </section>

        <section class="tienda-smartshop">
            <h3 class="titulos">TIENDA SMARTSHOP</h3>
            <ul>
                <li><a href="#">MIS PEDIDOS</a></li>
                <li><a href="#">MI CARRITO</a></li>
                <li><a href="#">CAMBIOS Y DEVOLUCIONES</a></li>
            </ul>
        </section>

        <section class="navegacion">
            <h3 class="titulos">NAVEGACIÓN</h3>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </section>

        <div class="bot-copyright">
            <div class="espacio-blanco"></div>

            <div class="copyright">
                <i class="far fa-copyright fa-3x"></i>
                <p>Copyright SmartShop - 2021. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <!-- FIN DE FOOTER -->
</body>
</html>