<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
        <main class="main-profile">
            <h2>¡Bienvenido NOMBRE DE USUARIO!</h2>
            <div class="info">
                <img src="/images/users/image1623517032354.png" alt="profile image">
                <div class="datos">
                    <p> <strong>Nombre y apellido:</strong> NOMBRE Y APELLIDO DE USUARIO</p>
                    <p> <strong>Correo electrónico:</strong> MAIL DEL USUARIO</p>
                </div>
            </div>
            <div class="buttons">
                <form action="/" method="GET">
                    <button id="edit" type="submit">EDITAR</button>
                </form>
                <form action="/" method="GET">
                    <button id="logout" type="submit">CERRAR SESIÓN</button>
                </form>
            </div>
        </main>
        <%- include('./partials/footer') %>

</html>