<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartShop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="./css/normalize.css" rel="stylesheet">
        <link href="./css/styles.css" rel="stylesheet">
        <link href="./css/register.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
        <header class="encabezado">
            <nav class="logo_barra_manu_carrito">
                
                <div class="logo">
                    <a href="/"><img  src="./images/logoSmart.jpg"></a>
                </div>
                <div class="barra_busqueda">
                    <input type="search" value="Que estas buscando?"><i class="fas fa-search"></i>
                    
                </div>
                <div class="hamburguesa">
                    <i class="fa fa-bars burger"></i>
                </div>
                <div class="carrito">
                    <i class="fas fa-shopping-cart"></i>
                </div>
    
    
            </nav>
    
            <nav class="iniciar_crear_sesion">
    
                <div class="iniciar_sesion">
                    <a href="/login"><p> Iniciar Sesión</p></a>
                </div>
                <div class="crear_cuenta">
                    <a href="/register"><p>Crear cuenta</p></a>
                </div>
    
            </nav>

        </header>

        <main class="main-register">

                <h2 class="titulo">
                    CREÁ TU CUENTA
                </h2>

                <section class="datos-personales">
                    <div class="div-nombre">
                        <label class="label" for="">Nombre</label>
                        <input type="text" name="nombre" id="" class="control">
                    </div>
                    <div class="div-apellido">
                        <label class="label" for="">Apellido</label>
                        <input type="text" name="apellido" id="" class="control">
                    </div>
                    <div class="div-correo" >
                        <label class="label" for="">Correo electónico</label>
                        <input type="email" name="correo" id="" class="control">
                    </div>
                </section>

                <section class="pass">
                        <div class="div-pass">
                            <label class="label" for="">Contraseña</label>
                            <input type="password" name="pass" id="" class="control"><i class="fas fa-eye-slash"></i>
                        </div>
                        <div class="div-confirm-pass"> 
                            <label class="label" for="">Confirmar contraeña</label>
                            <input type="password" name="" id="" class="control"><i class="fas fa-eye-slash"></i>
                        </div>
                        </div>
                </section>


                <section class="terminos-condiciones">
                    <div class="div-informacion">
                        <input class="cbx" type="checkbox" name="información" id="">
                        <label for="">Deseo recibir información sobre nuestros nuevos productos.</label>
                    </div>
                    <div class="div-terminos">
                        <input class="cbx" type="checkbox" name="terminos" id="">
                        <label for="">He leido y acepto los <a href="#">Términos y Condiciones</a>.</label>
                    </div>
                </section>


                <section class="buttons">
                    <button id="enviar" type="submit">Crear cuenta</button>
                    <button type="menu">Volver</button>
                </section>

        </main>

        <footer class="footer">
            <div class="logo">
                <img src="/images/logoSmart.jpg" alt="Logo SmartShop">
            </div>
    
            <section  class="sobre-nosotros">
                <h3 class="titulos">SOBRE NOSOTROS</h3>
                <ul>
                    <li><a href="#">SOBRE NOSOTROS</a></li>
                    <li><a href="#">LINEA ÉTICA Y VALORES</a></li>
                    <li><a href="#">POLÍTICA DE PRIVACIDAD</a></li>
                </ul>
            </section>
    
            <section class="tienda-smartshop">
                <h3 class="titulos">TIENDA SMARTSHOP</h3>
                <ul>
                    <li><a href="#">MIS PEDIDOS</a></li>
                    <li><a href="#">MI CARRITO</a></li>
                    <li><a href="#">CAMBIOS Y DEVOLUCIONES</a></li>
                </ul>
            </section>
    
            <section class="navegacion">
                <h3 class="titulos">NAVEGACIÓN</h3>
                <ul>
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
            </section>
    
            <div class="bot-copyright">
                <div class="espacio-blanco"></div>
    
                <div class="copyright">
                    <i class="far fa-copyright fa-3x"></i>
                    <p>Copyright SmartShop - 2021. Todos los derechos reservados.</p>
                </div>
            </div>
        </footer>
</html>