<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

    <%- include('./partials/header') %>


        <main class="main-register">

                <h2 class="titulo">
                    CREÁ TU CUENTA
                </h2>
                <form action="">
                    <section class="datos-personales">
                        <div class="div-nombre">
                            <label class="label" for="">Nombre</label>
                            <input required type="text" name="nombre" id="" class="control">
                        </div>
                        <div class="div-apellido">
                            <label class="label" for="">Apellido</label>
                            <input required type="text" name="apellido" id="" class="control">
                        </div>
                        <div class="div-correo" >
                            <label class="label" for="">Correo electrónico</label>
                            <input required type="email" name="correo" id="" class="control">
                        </div>
                    </section>
    
                    <section class="pass">
                            <div class="div-pass">
                                <label class="label" for="">Contraseña</label>
                                <input required type="password" name="pass" id="" class="control"><i class="fas fa-eye-slash"></i>
                            </div>
                            <div class="div-confirm-pass"> 
                                <label class="label" for="">Confirmar contraeña</label>
                                <input required type="password" name="" id="" class="control"><i class="fas fa-eye-slash"></i>
                            </div>
                            </div>
                    </section>
    
    
                    <section class="terminos-condiciones">
                        <div class="div-informacion">
                            <input class="cbx" type="checkbox" name="información" id="">
                            <label for="">Deseo recibir información sobre nuevos productos.</label>
                        </div>
                        <div class="div-terminos">
                            <input required class="cbx" type="checkbox" name="terminos" id="">
                            <label for="">He leído y acepto los <a href="#">Términos y Condiciones</a>.</label>
                        </div>
                    </section>
    
    
                    <section class="buttons">
                        <button id="enviar" type="submit">Crear cuenta</button>
                        <button type="menu">Volver</button>
                    </section>
                </form>
                

        </main>

        <%- include('./partials/footer') %>

</html>