*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;

}

.form-product-register{
    text-align: left;
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

}
.check1{
    align-self: center;
    width: 50%;
    display: flex;
    
}

.precio.top, .nombre.top{
    padding: 0;
}


.titulo.producto{
    background-color: #C3CA02;
    width: 80%;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 120%;
    margin: auto;
    text-align: center;
}
.form-product-register{
    margin: auto;
    max-width: 100%;
}




/*-------------------------------------------------------------------------------*/
.producto{
    width: 100%;
    background-color:#F3FB9D;
    padding: 15px 10px;
    margin: 20px 0 0 0 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-between;
    
}

.precio, .nombre{
    width: 100%;
    background-color:#F3FB9D;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.pass{
    width: 100%;
    background-color:#F3FB9D;
    padding: 15px 10px;
    margin: 20px 0 0 0 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    

}
.producto div label{

    width: 200px;

}

.producto .nombre input, .producto .precio input, .producto .descripcion input, .pass .Tdetalle input,.pass .detalle input, .pass .foto input {
    border-radius: 5px;
    margin: 5px;
    max-height: 30px;
   }

.Tdetalle{
    display: flex;
    justify-content: space-evenly;

}

select{
    font-size: 14px;
    width: 100%;
    text-align: center;
}

option{
    text-align: center;
}


.area{

    width: 380px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: center;
}

.foto{
    display: flex;
    justify-content: space-evenly; 
}
.foto label{
    align-self: center;
}
.detalle{
    display: flex;
    flex-direction: column;
}
.nombre{
    display: flex;
    justify-content: space-evenly;
}

.precio{
    display: flex;
    justify-content: space-evenly;
}
.descripcion{
    display: flex;
    justify-content: space-evenly;
}
.formu, .titulo{
    max-width: 600px;
    min-width: 400px;

}


.form-product-register .buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.form-product-register .buttons button{
    padding: 5px;
    border-radius: 10px;
}

.form-product-register .buttons #enviar{
    background-color: #C3CA02;
    font-weight: bolder;
}


@media (min-width: 481px){

    .form-product-register{
        width: 80%;
    }

    .form-product-register .datos-personales{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 25px 0 5px 0;
    }

    .form-product-register  .datos-personales .div-nombre, .div-apellido{
        display: flex;
        justify-items: left;
        width: 45%;
    }

    .form-product-register .datos-personales .div-correo{
        width: 95%;
    }


    .form-product-register .terminos-condiciones{
        display: inline-block;
        font-size: 100%;
        margin: 20px 0;
    }

}


@media (min-width: 769px){

    .form-product-register{
        width: 70%;
    }
    .texto-error-validacion{
        font-size: 14px;
    }

}


@media (min-width: 1200px){

    .form-product-register{
        width: 40%;
        font-size: 18px;
    }

    select{
        font-size: 18px;
    }
}