*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.imgchicas-celu-elegido-junto-pd{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 20px;
}

.imagenes-chicas-pd li{
    list-style-type: none;
}

.imagenes-chicas-pd img{
    width: 75%;
}

.celu-elegido-pd img{
    width: 130px;
    max-width: 100%;
    margin-top: 25px;
}

.imgchicas-celu-elegido-junto-pd{
    width: 100%;
}

.mas-vistas-pd{
    margin-top: 40px;
}

.nombre-celu-pd{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #636363;
    
}

.precio-detalleProducto-pd{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #78c13a;
    font-size: 18px;
}

.detalle-celu1-pd{
    margin-top: 50px;
    color: rgba(216, 234, 7, 1);
    padding: 0 8px;
    text-align: center;
}

.detalle-celu2-pd{
    margin-top: 20px;
    color: #636363;
    padding: 0 8px;
    
}

.product-detail-pd{
    justify-content: center;
}

.payment-methods1-pd img{
    margin-top: 10px;
}

.payment-methods2-pd img{
    margin-top: 10px;
}

.payment-methods3-pd img{
    margin-top: 10px;
}

.botones1-pd{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;
}

.botones2-pd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top: 100px;
}

.botones3-pd{
    position: fixed;
    z-index: 1000;
    left: 5%;
    bottom: 10px;
}

.button-form-pd, .boton-editar, .boton-eliminar{
    background-color: rgba(216, 234, 7, 1);
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}
#formulario-delete{
    margin: 0px;
}
.editar-eliminar{
    display: none;
    
}
.boton-editar a{
    color: black;
}
.button-form2-pd{
    background-color: rgba(216, 234, 7, 1);
    padding: 5px 10px;
    border-radius: 10px;
}

.button-form3-pd{
    background-color: rgba(216, 234, 7, 1);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.button-form4-pd{
    background-color: rgba(216, 234, 7, 1);
    border-radius: 8px;
    padding: 5px 10px;
    height: 50px;
    border: none;
    width: 90vw;
}

.medios-de-pago-todo-pd{
    margin-top: 40px;
}

.medios-de-pago-pd h3{
    color: rgba(0,0,0,.8);

}

.medios-de-pago-pd{
    padding: 15px 0;
}

.medios-de-pago-pd div{
    margin-top: 40px;
}

.medios-de-pago-todo-pd{
    border-top: solid 1px gray;
    padding: 10px;
}

.preguntas-frecuentes-todo-pd{
    padding: 10px;
    border-top: solid 1px gray;
}

.preguntas-frecuentes-todo-pd div{
    margin-top: 20px;
}

.cuadro-pregunta-pd{
    margin-top: 20px;
}

input{
    width: 100%;
    padding: 5px;
}

.subtitulo-haz-pregunta-pd{
    margin-bottom: 20px;
}

.boton-preguntar-todo-pd{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.button-form-preguntar-pd{
    background-color: rgba(216, 234, 7, 1);
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    width: 95vw;
    height: 30px;
}

.comentarios-todo-pd{
    padding: 10px;
    border-top: solid 1px gray;
    
}

.subtitulo-opiniones-pd{
    margin-top: 20px;
}

.cuadro-pregunta{
    margin: 0;
    width: 100%;
}

.banner-bajo-pd img{
    width: 100%;
    margin-top: 50px;
}
.canti{
    width: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

/* COMIENZO MEDIA QUERIES */

@media(min-width: 481px){
    .celu-elegido-pd img{
        margin-top: 25px;
    }

    .botones3-pd{
        display: none;
    }
}
.canti{
    width: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

@media (min-width: 769px){
    .celu-elegido-pd img{
        width: 180px;
        max-width: 100%;
    }

    .imgchicas-celu-elegido-junto-pd{
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 40px;
    }
    .canti{
        width: 25px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .botones1-pd{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10%;
    }

    .boton-carrito-pd{
        text-align: center;
        margin-top: 70px;
    }

    .payment-methods1-pd img{
        width: 15%
    }
    .payment-methods2-pd img{
        width: 12%
    }
    .payment-methods3-pd img{
        width: 12%
    }

    .producto-descripcion-todo-pd{
        display: flex;   
    }

    .product-detail-pd{
        margin-top: 40px;
    }

    .button-form-pd:hover{
        background-color: greenyellow;
    }

    .button-form-pd{
        transition: background-color 0.5s;
    }

    .detalle-celu1-pd{
        text-align: center;
    }

    .detalle-celu2-pd{
        width: 80%;
        margin-left: 50px;
    }
    .editar-eliminar{
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
#formulario-delete{
    width: 15%;
    margin-left: 10%;
    
}
.boton-editar a{
    text-decoration:none;
}
    .botones1-pd{
        display: flex;
        justify-content: center;
    }
 }

@media (min-width:1200px){
    .payment-methods1-pd img{
        width: 12%
    }
    .payment-methods2-pd img{
        width: 8%
    }
    .canti{
        width: 25px;
        border: 1px solid black;
        border-radius: 5px;
    }
    .payment-methods3-pd img{
        width: 8%
    }

   

    .button-form-preguntar-pd{
       width: auto;
    }
    
    .boton-preguntar-todo-pd{
        justify-content:flex-start;
        margin-left: 10px;
    }

    .producto-descripcion-todo-pd{
        display: flex;
        justify-content: center;
    }

    .detalle-celu1-pd{
        text-align: center;
        
    }

    .detalle-celu2-pd{
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    .product-detail-pd{
        width: 40%;
    }
    
    main{
        max-width: 1500px;
        margin: 0 auto;
    }
}