*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.ultimos-lanzamientos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ultimos-lanzamientos p{
    text-align: center;
    margin-top: 30px;
}

.ultimos-lanzamientos img{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.ultimos-lanzamientos h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

.ultimos-lanzamientos article{
    margin-bottom: 50px;
    border-top: 1px solid gray;
}

.favoritos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.favoritos p{
    text-align: center;
    margin-top: 30px;
}

.favoritos img{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.favoritos h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.favoritos article{
    margin-bottom: 50px;
    border-top: 1px solid gray;
}

.boton-comprar-products{
    text-align: center;
    margin-top: 20px;
}

.button-form-products{
    background-color: rgba(216, 234, 7, 1);
    font-size: 15px;
    color: black;
    padding: 7px 15px;
    border-radius: 10px;
    border: none;
}

@media (min-width: 481px){
    .ultimos-lanzamientos h2{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .ultimos-lanzamientos article{
        min-width: 60%;
    }

    .favoritos article{
        min-width: 60%;
    }

    .favoritos h2{
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 769px){
    main{
        max-width: 1500px;
    }
    .ultimos-lanzamientos img{
        max-width: 160px;
        width: 100%;
    }

    .ultimos-lanzamientos article:hover{
        border: 1px solid gray;
    }

    .ultimos-lanzamientos article{
        transition: all 0.5s;
        border: none;
        min-width: 20%;
    }

    .button-form-products:hover{
        background-color: greenyellow;
    }

    .button-form-products{
        transition: all 0.7s
    }

    .ultimos-lanzamientos h2{
        margin-top: 50px;
    }

    .favoritos img{
        width: 65%;
    }

    .favoritos article:hover{
        border: 1px solid gray;
    }

    .favoritos article{
        transition: all 0.5s;
        border: none;
    }

    .boton-comprar-products{
        margin-bottom: 30px;
    }
}