*{
    box-sizing: border-box;
}
.encabezado{
    z-index:10
}
.main-section{
    display: flex;
    flex-direction:column;
    width:50%;
}
.articulos img{ 
    width: 70%
}
.articulos{
    width: 100%;
    margin:0%;
    text-align: left;
}
.carrito-recomendado{
margin-bottom: 3%;
margin-top:5%
}

.boton-detalle{
    width:116px;
    margin-left: 10px;
     border-radius: 10px;
     background-color: #C3CA02;
     border-radius: 10px
}
.boton-detalle2{
    width:80px;
    margin-left: 0px;
     border-radius: 10px;
     background-color: #C3CA02;
     border-radius: 10px
};

.g9plus{
    margin-left:5px;
}
.carrito-titulo, .carrito-recomendado{
    text-align:center;
}
.section-2{
    display:flex;
}

.promociones{
    width:50%;
}

#promocion{
    font-weight: bold;
    font-size: 15px
}

.div-promocion, .div-promocion2{
    text-align:center;
    margin-bottom: 50%;
}

#codigo, #postal{
    height: 30px;
    width: 70%;
    background-color: #D3D3D3;
    color:black;
    font-weight: bold
}

.enviar{
    display:flex;
    width: 100%;
    margin-top: 5%
}

.cart-enviar{
    background-color: black;
    color: white
}
.precio p{
    font-size: 20px;
    font-weight:bold
}

.boton-comprar{
    text-align: center;
    margin-top: 15%;
}

.comprar{
    padding:8px;
    background-color: #C3CA02;
    width: 70%;
}
.div-promocion2{
    margin-bottom: 100%
}

.main-recomendado{
    display:flex;
    justify-content:space-between
}

.articulos2{
    width:50%;
}

.articulos2 article{
    text-align:center
}


.main-articulos2{
    text-align: center;
    width:32%;
    display:flex;

}
.carrito-delete{
    position:relative;
    bottom: 85%;
    padding: px;
    height: 15px;
    width:15px;
    font-size: 10px;
    background-color: black; 
    font-weight:bolder;
    color: white;
}
.articulos2{
    height: 121.44px;
}

@media(min-width: 768px){
.enviar{justify-content: center;}
.div-promocion{
    margin-top: 30%
}
.articulo1-img{
    height: 70%;
    margin-top: 50px
}
.main-precio{
    text-align: center;
   padding-top: 40%
}
.articulos{
    text-align: center;
    margin-top: 3%
}
.boton-detalle{
    width: 60%;
    height: 25px
}
#codigo, #postal{
    height: 35px
}
.carrito-delete{
    bottom: 70%
}
.articulos2{
    width:120px;
    height: 200px
}
.boton-detalle2{
    width: 120px;
}
.div-recomendado{
    display:flex;
    flex-direction: column;
    margin-left:20%

}
}

@media(min-width: 1200px){
.div-promocion2{
    margin-bottom: 10px
}
.div-promocion{
    margin:0;
}
.articulos{
    height: 300px
}
.articulo1-img{
    width:100px;
}
.div-promocion{
    margin-top: 60px
}
.div-promocion2{
    margin-top: 60px
}
.main-precio{
    padding-top: 200px;
    display:flex;
    flex-direction: column
}

#codigo, #postal{
    width:300px;
    height: 40px; 
}
.enviar{
    margin-top: 10px
}
.boton-comprar{
    margin-top: 40px;
    text-align: center;
}
.comprar{
    width: 340px;
}
.main-recomendado{ 
justify-content: space-between}
.articulos{
    width: 300px;
    margin-left: 25%;
}
.articulos .articulo1-img{
    width: 230px;
    margin-top: 20px;
    height: 270px
}
.boton-detalle{
    width: 250px
}
.carrito-titulo, .carrito-recomendado{
    margin-top:150px
}
.div-recomendado{
    text-align:center
}
.boton-detalle2{
    display:block;
    margin-left: 10%;
    border-radius: 10px;
     background-color: #C3CA02;
     padding-left:30px;
     padding-right:30px;
     width: 170px;

}
.carrito-delete{
    bottom: 90%
}
.articulos2{
    height: 300px;
    width: 200px
}
.carrito-recomendado{
    font-size: 40px;
  
}
.carrito-precio{
    margin-top: 300px
}
}

