*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.main-login{
    text-align: center;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
    font-size: 18px;

}

.main-login .titulo{
    background-color: #C3CA02;
    width: 100%;
    padding: 15px 1%;
    border-radius: 10px;
}


.main-login .control{
    height: 35px;
    border-radius: 10px;
}

.main-login .datos-personales, .pass{
    width: 100%;
    background-color:#F3FB9D;
    padding: 15px 10px;
    margin: 20px 0 0 0 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.main-login .datos-personales .div-nombre, .div-apellido, .div-correo {
    display: flex;
    flex-direction: column;
}

.main-login .datos-personales .label, .pass .label{
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.main-login .pass .div-pass, .div-confirm-pass{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    position: relative;
}

.main-login .pass i{
    position: absolute;
    top: 50px;
    right: 10px;
}


.main-login .terminos-condiciones{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 80%;
    justify-content: left;
}

.main-login .terminos-condiciones .div-informacion, .div-terminos{
    display: flex;
    text-align: left;
    margin: 10px 5%;
}

.main-login .terminos-condiciones .cbx{
    margin-right: 10px;
    align-self: center;
}

.main-login .buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.main-login .buttons button{
    padding: 5px;
    border-radius: 10px;
}

.main-login .buttons #enviar{
    background-color: #C3CA02;
    font-weight: bolder;
}


@media (min-width: 481px){

    .main-login{
        width: 80%;
    }

    .main-login .datos-personales{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 25px 0 5px 0;
    }

    .main-login  .datos-personales .div-nombre, .div-apellido{
        display: flex;
        justify-items: left;
        width: 45%;
    }

    .main-login .datos-personales .div-correo{
        width: 95%;
    }


    .main-login .terminos-condiciones{
        display: inline-block;
        font-size: 100%;
        margin: 20px 0;
    }

}


@media (min-width: 769px){

    .main-login{
        width: 70%;
    }
}


@media (min-width: 1200px){

    .main-login{
        width: 45%;
    }
}