/*verde oscuro #C3CA02
verde claro  #F3FB9D
azul noche #252850*/

@import url(/css/footer.css); /* FOOTER*/
@import url(/css/register.css);
@import url(/css/login.css);
@import url(/css/productCart.css);
@import url(/css/productDetail.css);
@import url(/css/normalize.css);
@import url(/css/cargarProducto.css);
@import url(/css/products.css);

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
      
    
}
body{
    
    min-width: 360px;
    
    margin-top: 120px;
}
.encabezado{
    position: fixed;
    top:0px;
    z-index: 10;
}


.logo_barra_manu_carrito{
    width: 100vw;
    display: flex;
    background-color: #C3CA02 ;
    align-items: center;
    max-height: 100px;
}
.logo_barra_manu_carrito .logo{
    width: 20%;
    
}
.logo_barra_manu_carrito .logo img{
    width: 100%;
    max-width: 130px;
    max-height: 100px;
}

.logo_barra_manu_carrito .barra_busqueda{
    width: 60%;
    display: flex;
    
   
}

.logo_barra_manu_carrito .barra_busqueda input{
outline: none;
}
.logo_barra_manu_carrito .barra_busqueda i{
    
    font-size: 1.5em;
    align-self: center;
    height: 35px;
    padding-top: 5px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -1px;
    color: #252850;

   
}

.logo_barra_manu_carrito .barra_busqueda input{
    width: 100%;
    height: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    border: transparent;
    
}

.logo_barra_manu_carrito .hamburguesa{
    width: 10%;
    text-align: center;
    font-size: 1.5em;
    color: #252850;
    
}

.logo_barra_manu_carrito .carrito{
    width: 10%;
    text-align: center;
    font-size: 1.5em;    
}

.iniciar_crear_sesion{
    display: flex;
    width: 100vw;
    height: 30px;
    border-bottom: 4px solid #C3CA02;

}
.iniciar_crear_sesion .crear_cuenta_full,.iniciar_crear_sesion .iniciar_sesion, .iniciar_crear_sesion .crear_cuenta, .iniciar_crear_sesion .iniciar_sesion2 , .iniciar_crear_sesion .iniciar_sesion3, .iniciar_crear_sesion .mi_carrito{
        background-color:  #F3FB9D;
        width: 50%;
        margin: 0px;
        text-align: center;
        font-weight: bold;
        
        

}


.iniciar_crear_sesion  a{
    text-decoration: none;
    color: black;
}

.iniciar_crear_sesion a:hover{
    text-decoration: underline;
}


.iniciar_crear_sesion .crear_cuenta_full, .iniciar_crear_sesion .iniciar_sesion p, .iniciar_crear_sesion .iniciar_sesion2 p,.iniciar_crear_sesion .iniciar_sesion3 p, .iniciar_crear_sesion .mi_carrito p{
    padding-bottom: 10px;
    margin: 0px;
    padding-top: 5px;
}

.iniciar_crear_sesion .crear_cuenta p{
    padding-bottom: 10px;
    margin: 0px;
    padding-top: 5px;
}



.banner_bluedays img{

    width: 100%;
}

.cuatro{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:  #C3CA02;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cuatro .envio, .cuatro .cuotas, .cuatro .garantia, .cuatro .celulares{

    width: 140px;
    background-color: #F3FB9D;
    margin:  1px;
    height: 50px;
    display: flex;
    flex-direction: column; 
    border-radius: 10px;  
    padding-bottom: 10px; 
}
.cuatro .envio .encabezado_envio, .cuatro .cuotas .encabezado_cuotas, .cuatro .garantia .encabezado_garantia, .cuatro .celulares .encabezado_celulares{
    display: flex;
}
.cuatro p{
    margin: 0px;
    font-size: 10px;
}
.cuatro i{
    color:  #252850;
    font-size: 1em;
}
.encabezado_envio, .encabezado_cuotas, .encabezado_celulares, .encabezado_garantia{
    justify-content: space-around;
    padding-top: 10px;
    font-weight: bold;
    
}
.detalle1, .detalle2, .detalle3, .detalle4{
    align-self: center;
}
.pie_envio {
    padding-left: 53px;
    font-size: 0.9em;
}
.pie_garantia {
    padding-left: 56px;
    font-size: 0.9em;
}
.pie_celulares {
    padding-left: 51px;
    font-size: 0.9em;
}
.pie_cuotas {
    padding-left: 51px;
    font-size: 0.9em;
}
.descuento{
    width: 100vw;
    display: flex;
    justify-content: center;
    
   
}
.descuento img{
    width: 100%;
    max-width: 700px;
    padding-top: 15px;
    
    
    
}

.destacados{
    width: 100%;
    background-color: #C3CA02;
}
.destacados h1{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    height: 50px;
    padding-top: 7px;
}

.celulares_destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.celulares_destacados img{

    width: 100%;
    max-width: 200px;
}
.detalle_celu{

    text-align: center;
    margin: 0px;
    background-color: #C3CA02;
    font-weight: bold;
    border-radius: 10px;
    
}

.detalle_celu a:visited{
    color: black;
}
.celu2, .celu3, .celu4{
    align-self: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}
.iniciar_sesion2 {

    display: none;
}
.iniciar_sesion3, .mi_carrito {

    display: none;
}
.menu_lateral{
    width: 50%;
    display: none;
}
.menu_lateral .crear_cuenta{
    display:none;
}



@media(min-width: 481px){

    .hamburguesa, .carrito{
        visibility: hidden;
    }
    .menu_lateral{
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }
    .iniciar_sesion2, .iniciar_sesion3, .mi_carrito {

        
    

        display: block;
    }

    .iniciar_sesion{

        display: none;
    }
    .mi_carrito{
        display: flex;
    }
    .mi_carrito i{
        padding-top: 5px;
    }
    .crear_cuenta{
        display: none;
    }
    .cuatro .envio, .cuatro .cuotas, .cuatro .garantia, .cuatro .celulares{

        width: 200px;
        background-color: #F3FB9D;
        margin:  1px;
        height: 50px;
        display: flex;
        flex-direction: column; 
        border-radius: 10px;  
        padding-bottom: 10px; 
    }

    
}

@media (min-width: 769px){
    .cuatro .envio, .cuatro .cuotas, .cuatro .garantia, .cuatro .celulares{

        width: 300px;
        background-color: #F3FB9D;
        margin:  1px;
        height: 70px;
        display: flex;
        flex-direction: column; 
        border-radius: 10px;  
        padding-bottom: 10px; 
    }
    .cuatro p{
        margin: 0px;
        font-size: 16px;
       
    }
    .cuatro i{
        color:  #252850;
        font-size: 1.5em;
    }
    .pie_envio {
        padding-left: 130px;
        font-size: 1.2em;
    }
    .pie_garantia {
        padding-left: 130px;
        font-size: 1.2em;
    }
    .pie_celulares {
        padding-left: 130px;
        font-size: 1.2em;
    }
    .pie_cuotas {
        padding-left: 130px;
        font-size: 1.2em;
    }

    
 }

 @media (min-width:1200px){
    .cuatro .envio, .cuatro .cuotas, .cuatro .garantia, .cuatro .celulares{

        width: 300px;
        background-color: #F3FB9D;
        margin:  1px;
        height: 100px;
        display: flex;
        flex-direction: column; 
        border-radius: 10px;  
        padding-bottom: 10px; 
    }
    .encabezado_envio{
        padding-top: 30px;
    }
    .encabezado_cuotas{
        padding-top: 30px;
    }
    .encabezado_garantia{
        padding-top: 30px;
    }
    .encabezado_celulares{
        padding-top: 30px;
    }
    .cuatro p{
        margin: 0px;
        font-size: 16px;
       
    }
    .cuatro i{
        color:  #252850;
        font-size: 1.5em;
    }
    .pie_envio {
        padding-left: 130px;
        font-size: 1.2em;
    }
    .pie_garantia {
        padding-left: 130px;
        font-size: 1.2em;
    }
    .pie_celulares {
        padding-left: 130px;
        font-size: 1.2em;
    }
    .pie_cuotas {
        padding-left: 130px;
        font-size: 1.2em;
    }
   
}
