<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
        <main class="sinStock">
            <p>¡Tu compra se ha realizado con exito!</p>
        </main>
        <div style="text-align: center;">
            <a href="/products"><button class="btn comprar">Seguir comprando</button></a>
        </div>
        <%- include('./partials/footer') %>


</html>