<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>


    <main class="main-register">
      
        <h2 class="titulo">
            CREAR PRODUCTO
        </h2>
        <form class='formu' action="/crearProducto" method="POST" enctype="multipart/form-data">
            <section class="producto">
                <div class="nombre">
                    <label class="label" for="nombre">Nombre</label>
                    <input  type="text" name="nombre"  class="control">
                </div>
                <div class="precio">
                    <label class="label" for="precio">Precio</label>
                    <input type="text" name="precio"  class="control">
                </div>
                
            </section>

            <section class="pass">
                <div class="Tdetalle">
                    <label class="label" for="tDetalle">Titulo detalle</label>
                    <input  type="text" name="tDetalle"  class="control">
                </div>
                <div class="detalle">
                    <label class="label" for="detalle">Detalle</label>
                    <textarea class="area" name="detalle" ></textarea>
                </div>

                <select name="select" class="check1">
                    
                    <option value="favorite" selected>Favorite</option>
                    <option value="newmodel">New moldel</option>
                  </select>
                
                </div>      

              
                <div class="foto">
            
                    <label for="foto">Foto</label>
                    <input type="file" id="foto" name="foto" placeholder="foto">
            
                </div>
                
            </section>

            


            <section class="buttons">
                <button id="enviar" type="submit">Crear producto</button>
                <button id="borrar" type="reset">Resetear</button>
                <button type="menu">Volver</button>
            </section>
        </form>
        

</main>

<%- include('./partials/footer') %>

</body>
</html>