

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    
    <%- include('./partials/header') %>

        <img class="imagen-error" src="/images/celular-blanco.png" alt="error">
        <a href="/"><button class="btn-inicio">INICIO</button></a>


    <%- include('./partials/footer') %>

    
</body>
</html>