<footer class="footer">
    <div class="logo">
        <a href="/"><img src="/images/logoSmart.jpg" alt="Logo SmartShop"></a>
    </div>

    <section  class="sobre-nosotros">
        <h3 class="titulos">SOBRE NOSOTROS</h3>
        <ul>
            <li><a href="#">SOBRE NOSOTROS</a></li>
            <li><a href="#">LINEA ÉTICA Y VALORES</a></li>
            <li><a href="#">POLÍTICA DE PRIVACIDAD</a></li>
        </ul>
    </section>

    <section class="tienda-smartshop">
        <h3 class="titulos">TIENDA SMARTSHOP</h3>
        <ul>
            <li><a href="#">MIS PEDIDOS</a></li>
            <li><a href="/products/verCarrito">MI CARRITO</a></li>
            <li><a href="#">CAMBIOS Y DEVOLUCIONES</a></li>
        </ul>
    </section>

    <section class="navegacion">
        <h3 class="titulos">NAVEGACIÓN</h3>
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/products">PRODUCTOS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </section>

    <div class="bot-copyright">
        <div class="espacio-blanco"></div>

        <div class="copyright">
            <i class="far fa-copyright fa-3x"></i>
            <p>Copyright SmartShop - 2021. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>